div.profile-info-name.fs-8 !{__('All time best')}:
.dark-purple-container.position-relative.rounded.py-1.ps-5.pe-4.mx-auto
  span!= member.bestTrophies
  i.position-absolute.trophies
    span.sr-only !{__('trophies')}
