div.profile-info-name.fs-8 !{__('War stars won')}:
.dark-purple-container.position-relative.rounded.py-1.ps-5.pe-4.mx-auto
  span!= member.warStars
  i.position-absolute.stars
    span.sr-only !{__('stars')}
