extends layout

block append scripts 
  if admin
    include /includes/polyfills
    script(src="/js/admin/updateMemberExtraData.js" defer) 

block content
  include includes/home-panel
    ol.member-list.m-0.p-0
      each member in members
        +member-li(member)
      else
        .none !{__('members not found')}!

